@font-face {
  font-family: Neo Sans Arabic m;
  src: url(../fonts/NeoSansArabicMedium.woff);
}
@font-face {
  font-family: Neo Sans Arabic l;
  src: url(../fonts/NeoSansArabicLight.woff);
}

*{
  margin: 0;
  padding: 0;
  color:#1A454F;
  font-family: 'Neo Sans Arabic m';
}
body{
  margin: 0;
  padding: 0;
  color:#1A454F;
}
p{
  color: #1A454F;
}

.login-box{
  background: white;
  color: black;
  width:100%;
  height:100vh;
  background: url('../img/home-background-1.png');
  background-repeat: no-repeat;
  background-position:bottom;
  background-attachment: scroll;
  background-size: cover;
  overflow:auto;
}

.login-box-content{
  width: 40%;
  margin-right:11%;
  padding-top:5%;
  height: 100vh;
}
/* logo style */
.logo-home{
  width: 15%;
  margin: 10px auto;
}
.logo-home img{
  width: 100%;
}

/* form content style */
form{
  width: 70%;
}
label{
  font-family: 'Neo Sans Arabic l';
}
form .form-control{
  border-radius: 10px;
}
form .lang a{
  text-decoration: none;
}
form .lang i{
  display: inline;
}
form .lang p{
  display: inline;
  padding: 5px;
}
form .forgot-password #reset,a{
  color:#23A8E1;
  padding: 2px;
  text-decoration: none;
}
form .btn{
  border-radius: 10px;
}
form .btn-info{
  background-color: #23A8E1;
  color: white;
}
form .btn-info:hover{
  background-color: #23A8E1;
  color: white;
}

/* copyrights */
.copyrights{
  width: 100%;
  padding: 0;
  padding-right: 35%;
  height: 35px;
 }
.copyrights p span{
  color:white;
  font-size: 13px;
}

/* responsive screen size */
@media only screen and (max-width: 900px) {
  .login-box{
    background: white;
    color: black;
    width:100%;
    background: none;

  }
  .login-box-content{
    width:100%;
    padding-top: 20%;
    margin-right:0%;
    height: 90vh;
  }
  form .forgot-password #reset{
    color:#23A8E1;
    padding: 1px;
    font-size: 14px;
    text-decoration: none;
  }
  form .forgot-password #forget-question{
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
  }
  form .lang a{
    text-decoration: none;
  }
  form .lang i{
    display: inline;
  }
  form .lang p{
    display: inline;
    padding: 2px;
    font-size: 14px;
  }
 .copyrights{
    color:#1A454F;
    width: 100%;
    padding-right: 5%;
    align-self: center;
  }
  .copyrights p span{
    color:#1A454F;
  }

}
