@font-face {
  font-family: Neo Sans Arabic m;
  src: url(../fonts/NeoSansArabicMedium.woff);
}
@font-face {
  font-family: Neo Sans Arabic l;
  src: url(../fonts/NeoSansArabicLight.woff);
}
*{
  margin: 0;
  padding: 0;
  color:#1A454F;
  font-family: 'Neo Sans Arabic m';
}
body{
  margin: 0;
  padding: 0;
  /* background: url('../img/background.png');
  background-repeat: no-repeat;
  background-size:cover; */
  color:#1A454F;
}

p{
  color: #1A454F;
}
.login-box{
  background: white;
  color: black;
  width:100%;
  height:100vh;
  background: url('../img/home-background-1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;


}
.login-box-left{
width: 50%;
margin-right:10%;
padding-top:8%;
height: 100vh;
}

.logo-home{
  width: 15%;
  margin: 10px auto;

}
.logo-home img{
  width: 100%;
}

form{
  width: 70%;
}
label{
  font-family: 'Neo Sans Arabic l';

}
.forgot-password #reset,a{
  color:#23A8E1;
  padding: 5px;
  text-decoration: none;
}
.lang a{
  text-decoration: none;
}
.lang i{
  display: inline;
}
.lang p{
  display: inline;
  padding: 5px;
}
form .btn-info{
  background-color: #23A8E1;
  color: white;
}
form .btn-info:hover{
  background-color: #23A8E1;
  color: white;
}
.copyrights{
  margin-top:auto;
  align-self: center;
  width: 100%;
  padding-right: 35%
 }
.copyrights p span{
  color:white;
}
@media only screen and (max-width: 900px) {

  .login-box{
    background: white;
    color: black;
    width:100%;
    background:none;

  }
  .login-box-left{
    width:100%;
    padding-top: 20%;
    margin-right:0%;
    height: 90vh;
  }
  .copyrights{
  color:#1A454F;
  width: 90%;
  padding: 0;
  align-self: center;
  }
  .copyrights p span{
    color:#1A454F;
  }
}
