@font-face {
  font-family: Neo Sans Arabic m;
  src: url(../fonts/NeoSansArabicMedium.woff);
}
@font-face {
  font-family: Neo Sans Arabic l;
  src: url(../fonts/NeoSansArabicLight.woff);
}
@font-face {
  font-family: Neo Sans Arabic l;
  src: url(../fonts/NeoSansArabicLight.woff);
}

*{
  margin: 0;
  padding: 0;
  color:#1A454F;
  font-family: 'Neo Sans Arabic m';
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  color:#1A454F;
}
.nav-custom{
height: 70px;
background: white;

}
i{
  color: #23A8E1;
  font-size: 20px;
}
li{
  margin: 0px 0px;
  /* height: 35px; */
  padding: 0;
}

.nav-link{
  padding: 2px;
  /* background: yellow; */
}
.nav-item{
  margin: 3px 3px;
}
.nav-item:last-child{
  margin-left: 25px;
}
.logo-osool{
  width: 70%
}
nav .groups{
  border: solid 1px rgba(26, 69, 79,0.2);
  border-radius:15px;
  padding-top: 0;
  width:280px;
}
nav .groups a{
color: rgba(26, 69, 79,0.5);
font-size: 15px;
padding: 5px;
}
nav .groups a:hover{
color: rgba(26, 69, 79,0.5);
font-size: 15px;
padding: 5px;
}
nav .groups a:active{
color: rgba(26, 69, 79,0.5);
font-size: 15px;
padding: 5px;
}
nav .groups a:focus{
color: rgba(26, 69, 79,0.5);
font-size: 15px;
padding: 5px;
}

nav .groups .fa-caret-down{
  display: inline-block;
  float: left;
  color: #23A8E1;
}


.dropdown-toggle::after{
  display: none;
}
.alert-content{
  position: relative;
  margin: 0 10px;
  z-index: 0;
}
.alert-circle span{
background: red;
color: white;
font-size: 9px;
padding: 0px 2px;
border-radius: 50%;
position: absolute;
top:0;
}
.alert-index{
  z-index: -1;
}
.navbar-toggler:hover{
background: none;
}
.navbar-toggler:active{
background: none;
}
.navbar-toggler:focus{
background: none;
}
.navbar-toggler-icon{
  margin-top: 10px;
}
nav .admin-content{
   border: solid 1px rgba(26, 69, 79,0.2);
  border-radius:10px;
  width:100px;
  padding-top: 0px;
  z-index: -1;
}
nav .admin-content .fa-user-circle{
  font-size: 25px;
  display: inline-block;
  padding: 2px;
}

nav .admin-content span{
  color: rgba(26, 69, 79,0.5);
  padding: 2px;
}
nav .admin-content i{
  display: inline-block;
  color: #1A454F;
  float: left;
}
nav .admin-content .fa-user-circle{
  display: inline-block;
  color: #23A8E1;
}
nav .admin-content .fa-caret-down{
  display: inline-block;
  float: left;
  color: #23A8E1;
}
.out{
    color: #E74C3C;
}
.out .fa-sign-out-alt{
  color: #E74C3C;
}
nav .icon-nav{
  padding-top:7px;
}
@media only screen and (max-width: 900px) {
nav .groups{
  padding: 5px;
}
nav .groups:hover{
  padding: 5px;
}


}
